{% extends 'base.html' %}
{% load static %}


{% block nav %}
    <div class="navbar">
       <div class="navbar-inner">
             <ul class="nav nav-tabs">
                <li><a href="#step1" data-toggle="tab" class="nav-link disabled" aria-disabled="true"><span class="mb-0 h1">Validar Publicacion</span></a></li>
                <li><a href="#step2" data-toggle="tab" class="nav-link disabled" aria-disabled="true"><span class="mb-0 h1">Cotizar</span></a></li>
                <li class="active"><a href="#step3" class="nav-link active" style="background:#03c7ff"  data-toggle="tab"><span class="mb-0 h1">Elegir cotizacion</span></a></li>
                <li><a href="#step4" data-toggle="tab" class="nav-link disabled"  aria-disabled="true"><span class="mb-0 h1">Pagar</span></a></li>
             </ul>
       </div>
    </div>
{% endblock %}

{% block content %}
    {% if checking_plans|length > 0 %}
        {% for mechanic, checking_plans in checking_plans %}
                <div class="flex flex2">
                    <div class="card flex-items-workshop"  style="width: 16rem;">
                        <img src="{% static 'images/taller.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ mechanic }}</h5>
                            <p><h5>Some quick example text to build on the card title and make up the bulk of the card's content.</h5></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">30 años de experiencia</li>
                            <li class="list-group-item">Lifan | BYD | Renault</li>
                            <li class="list-group-item">Disponibilidad am/pm</li>
                            <li class="list-group-item">Taller disponible</li>
                            
                        </ul>
                    </div>   
                    {% for plan in checking_plans %}
                        <div class="card flex-items" style="width: 16rem;">
                            <img src="{% static 'images/mecanico.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ plan.title }}</h5>
                                <p><h5>Some quick example text to build on the card title and make up the bulk of the card's content.</h5></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if plan.services.all|length > 0 %}
                                    <li class="list-group-item list-group-item-info">SERVICIOS INCLUIDOS</li>
                                    {% for service in plan.services.all %}
                                        <li class="list-group-item">{{ service.title }} </li>
                                    {% endfor %}
                                {% endif %}
                                <li class="list-group-item list-group-item-dark"><strong>$ {{ plan.cost }}</strong></li>
                            </ul>
                            <div class="card-body">
                                <button href="#" type="submit" class="btn  btn-lg btn-success btn-primary">Pagar</a>
                            </div>
                        </div>                
                    {% endfor %}
                </div>
        {% endfor %} 
    {% else %}
        No hay cotizaciones disponibles :(
    {% endif %}
{% endblock %}
